.bgHome {
    background: #3a7bd5;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #3a6073, #3a7bd5);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #3a6073, #3a7bd5);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}


.imgLogo {
    width: 240px;
}

.welcomeJatNet{
	color: #fff;
	font-weight: 800;
	font-size: 24px;
}

@media (max-width: 575.98px) {
    .imgLogo {
        width: 240px;
    }
}